@using WebStore.Domain.Entities.Identity
@model WebStore.Models.Employee
@{
    ViewData["Title"] = $"Сведения о сотруднике с id={Model.Id}";
}

<div class="container">
    <h3>@ViewData["Title"]</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@Model.Id</dd>

        <dt>ФИО</dt>
        <dd>@Model.LastName @Model.FirstName @Model.Patronymic</dd>

        <dt>Возраст</dt>
        <dd>@Model.Age</dd>

        <dt>Дата трудоустройства</dt>
        <dd>@Model.DateOfEmployment.ToShortDateString()</dd>
    </dl>

    <hr />
    @if (User.IsInRole(Role.Administrator))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">
            <i class="fa fa-edit"></i> Редактировать
        </a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>Удалить
        </a>
    }
    <a asp-action="Index" class="btn btn-info">К списку сотрудников</a>
</div>
