@model WebStore.Models.Employee

<!DOCTYPE html>

<div class="container">
    <h3>Редактирование сведений о сотруднике:</h3>
    <form method="post" action="">
        Фамилия: <input type="text" value="@Model.LastName" name="lastName" /><br />
        Имя: <input type="text" value="@Model.FirstName" name="firstName" /><br />
        Отчество: <input type="text" value="@Model.Patronymic" name="patronymic" /><br />
        Возраст: <input type="number" value="@Model.Age" name="age" /><br />
        Дата трудоустройства: <input type="date" value="@Model.DateOfEmployment.Date" name="dateOfEmployment" /><br />
        <input type="submit" value="Сохранить" />
    </form>

    <hr />
    <a asp-action="Index" class="btn btn-default">К списку сотрудников</a>
</div>
